body {
	color: white;
	background-image: url("../images/bitcoinBackground.jpg");
	text-align: center;
}
h1 {
	text-align: center;
}
button {
	font-size: 25px;
	height: 75px;
	width: 200px;
	text-align: center;

}